.container-layout {
  margin: 20px auto;
  width: 800px;
}

.container {
  margin: 60px auto;
  width: 600px;
  padding: 30px;
  border: 1px solid #969696;
  border-radius: 15px;
}

header {
  background-color: #969696;
  height: 50px;
  padding: 10px;
}

h2 {
  margin: 0;
  padding: 0;
}

header h2 a:link {
  text-decoration: none;  
  color: #00DDFF;
}


header h2 a:visited {
  color: #00DDFF;  
}

header h2 a:hover {
  color: #333;  
}

nav a {
  color: #FFFFFF;
}

nav a:hover {
  color: #00DDFF;  
}

.nav-actions {
  float: left;
  margin: 5px 0;
  padding: 0;
  list-style-type: none;
}

.nav-actions a {
  text-decoration: none;
}

nav ul li {
  display: inline;
  padding: 0 5px 0 0;
}

.nav-user-actions {
  float: right;
  margin: 5px 0;
  padding: 0;
  list-style-type: none;
}

.nav-user-actions a {
  text-decoration: none;
}

#error {
  font-weight: bold;
  color: red;
  text-align: center;
}

form {
  overflow: hidden;  
  position: relative;
}

.register-input-container {
  float: left;
  padding: 20px;
}

.register-input-container p {
  font-weight: bold;
  color: #444;
}

.register-input {
  width: 300px;
}

.register-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  border-radius: 5px;
  color: #FFFFFF;

  background: rgb(181,189,200); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
  progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

}
