body {
  font-family: 'Carrois Gothic SC', sans-serif;
}

#special:hover {
  background: #fcff6b;
}

#special:hover a {
  color: black;
}

.container {
  margin: 0px auto;
  margin-bottom: 10px;
  width: 500px;
  border: 1px solid #969696;
  border-radius: 15px;
}

.content {
  padding: 30px;
}

header {
  font-family: 'Carrois Gothic SC', sans-serif;
  margin: 0 auto;
  margin-top: 100px;
  width: 500px;
  padding: 10px;
  padding-bottom: 0px;
}

header a {
  text-decoration: none;
}

header div {
  padding: 5px;
  border-radius: 12px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
}

.title {
  background-color: black;
  font-size: 60px;
}

.title a {
  color: white;
}

.title:hover a {
  color: #fcff6b;
}

.username {
  margin-top: 10px;
  background-color: white;
  font-size: 50px;
}

.username a {
  color: black;
}

.login_or_reg {
  font-family: 'Carrois Gothic SC', sans-serif;
  margin: 0 auto;
  margin-top: 10px;
  width: 500px;
}

.login_or_reg a {
  text-decoration: none;
  color: white;
}

.login_or_reg div.button {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 12px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  background-color: grey;
  font-size: 30px;
}

.options {
  font-family: 'Carrois Gothic SC', sans-serif;
  margin: 0 auto;
  width: 500px;
  padding: 10px;
}

.options div {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 12px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  background-color: grey;
  font-size: 30px;
}

.options div:last-child {
  margin-bottom: 0;
}

.options a {
  text-decoration: none;
  color: white;
}

.logout_option {
  font-family: 'Carrois Gothic SC', sans-serif;
  margin: 0 auto;
  width: 500px;
}

.logout_option div {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 12px;
  line-height: 70px;
  text-align: center;
  text-transform: uppercase;
  background-color: grey;
  font-size: 30px;
}

.logout_option a {
  text-decoration: none;
  color: white;
}


h2 {
  margin: 0;
  padding: 0;
}

header h2 a:link {
  text-decoration: none;
  color: #00DDFF;
}


header h2 a:visited {
  color: #00DDFF;
}

header h2 a:hover {
  color: #333;
}

nav a {
  color: #FFFFFF;
}

nav a:hover {
  color: #00DDFF;
}

.nav-actions {
  float: left;
  margin: 5px 0;
  padding: 0;
  list-style-type: none;
}

.nav-actions a {
  text-decoration: none;
}

nav ul li {
  display: inline;
  padding: 0 5px 0 0;
}

.nav-user-actions {
  float: right;
  margin: 5px 0;
  padding: 0;
  list-style-type: none;
}

.nav-user-actions a {
  text-decoration: none;
}

#error {
  font-weight: bold;
  color: red;
  text-align: center;
}

form {
  overflow: hidden;
  position: relative;
}

.input-container {
  float: left;
  padding: 20px;
}

.input-container p {
  font-weight: bold;
  color: #444;
}

.input {
  width: 300px;
}

.submit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  border-radius: 5px;
  color: #FFFFFF;

  background: rgb(181,189,200); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
  progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

}

 ul li {
  list-style-type: none;
  margin:10px 0px 10px 0px;
 }

 ul li.active {
  background-color: #A9A9A9;
  border-radius: 5px;
  padding: 5px;
}

.question {
  font-weight: 1000;
  font-size: 20px;
}
