<div class='options'>
  <div class='create_survey'><a href='/survey/create'>Create a survey</a></div>
  <div class='view_your_surveys'><a href='/user/<%= current_user.id %>'>View your surveys</a></div>
  <div class='answer_surveys'><a href='/survey/all'>Answer surveys</a></div>
</div>