<div class='hidden' id='register_box'>
  <div class='container'>
    <form method='post' action='/register' >
      <div class='input-container'>
        <p>Username</p>
        <p><input class='input' type='text' placeholder='e.g., hipposaurus' required name='username' autocomplete='on'></p>
        
        <p>Email</p>
        <p><input class='input' type='email' placeholder='e.g., hipposaurus@email.com' required name='email' autocomplete='on'></p>
        
        <p>Password</p>
        <p><input class='input' type='password' placeholder='e.g., seek-rit' required name='password'></p>
      <input class='submit' type='submit' value='Submit'>
      <div class='errors'></div>
      </div>
    </form>
  </div>
</div>