<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Survey Hippo</title>
</head>

<body>
  <header>
    <div class='title'><a href='/'>SurveyHippo</a></div>
    <% if current_user %>
      <div class='username'><a href='/'><%= current_user.username %></a></div>
    <% end %>
  </header>
  <%= yield %>
  <% if current_user %>
  <div class='logout_option'>
    <div class='logout'><a href='/logout'>Logout</a></div>
  <% end %>
</div>
</body>
</html>
