<div class="container">
  <h1> All Surveys </h1>
  <% if all_surveys %>
  <ul>
    <% all_surveys.each do |survey| %>
      <% unless current_user.id == survey.author_id %>
        <li><a href="/survey/<%=survey.id%>"><%=survey.name%></a></li>
      <% end %>
    <% end %>
  </ul>
  <%end%>
</div>



  