<div class='index_options'>
  <div class='view_your_surveys'><a href='/user/1'>View your surveys</a></div>
</div>
<div class="container">
  <h2>Surveys Created </h2>
  <% if users_created_surveys %>
  <ul>
    <% users_created_surveys.each do |survey| %>
    <li><a href="/survey/<%=survey.id%>/results"><%= survey.name %></a></li>
    <% end %>
  </ul>
  <% end %>

  <h2>Surveys Completed </h2>
  <% if users_completed_surveys %>
  <ul>
    <% users_completed_surveys.each do |completion| %>
    <li><a href="/survey/<%=completion.survey_id%>"><%= completion.survey.name %></a></li>
    <% end %>
  </ul>
  <% end %>

</div>