<div class='container'>

  <form method='post' action='/signup' >
        Username: <input type='text' placeholder='username' required name='username' autocomplete='on'>
        Email: <input type='email' placeholder='email' required name='email' autocomplete='on'>
        Password: <input type='password' size='>5' placeholder='password' required name='password'>
        <input type='submit' value='Register'>
  </form>

</div>
